.select-form {
  /* width: 100%; */
  background-color: rgb(135, 68, 68);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5% 20%;
  border-radius: 10px;
}

.select-form-detail {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.submit-btn {
  width: 150px;
  padding: 5px;
}

.speak-btn {
  width: 150px;
  padding: 5px;
}

.say-line {
  padding: 5% 20%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.lines {
  /* background-color: yellow; */
  text-align: left;
  padding: 0 20%;
}
