#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app {
  margin: 0;
  padding: 0;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  color: fuchsia;
}

.content {
  padding: 0;
  width: 80%;
  margin-left: 10%;
}
